<!DOCTYPE html>

<html>

<head>
     {{!-- <link rel="stylesheet" href="/css/index.css"> --}}
</head>
    <body>
      <div class="box">
      {{>header}}

        
            <p>{{action}}</p>

            {{>footer}}
            </div>
    </body>

</html>