<!DOCTYPE html>

<html>

<head>
    
    </head>

    <body>
        <div>
            {{>header}}
            <p>{{action}}</p>
          
          <form>
              <input>
              <button>Search</button>
          </form>

          <P id="message-1"></P>
          <p id="message-2"></p>

            </div>

            {{>footer}}

            <script src="/js/client.js"></script>
    </body>

</html>